version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: litecoin_node_dashboard
      APP_PORT: 80

  litecoin:
    image: marvind2/litecoin-core:0.21.4
    container_name: litecoin
    restart: always
    ports:
      - "${LITECOIN_RPC_PORT}:${LITECOIN_RPC_PORT}"
      - "${LITECOIN_P2P_PORT}:${LITECOIN_P2P_PORT}"
    volumes:
      - ${APP_DATA_DIR}/data:/home/litecoin/.litecoin

  litecoin_node_rpc_flesk:
    image: marvind2/notrin-litecoin-api:latest
    container_name: litecoin_node_rpc_flesk
    restart: always
    ports:
      - "5000:5000"
    environment:
      - RPC_IP=${LITECOIN_NODE_IP}
      - RPC_PORT=${LITECOIN_RPC_PORT}

  litecoin_node_dashboard:
    image: marvind2/notrin-litecoin-gui:latest
    container_name: litecoin_node_dashboard
    restart: always
    environment:
      - API_IP=${LITECOIN_LOCALHOST_IP}
    depends_on:
      - litecoin_node_rpc_flesk
