version: '3.7'

services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle-global
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=UTC
      - DOZZLE_LEVEL=info
    networks:
      - umbrel_main_network

networks:
  umbrel_main_network:
    external: true
